h1 {
    color: lightblue;
}

h2{
    color: cornflowerblue;
    text-align: center;
}

h3 {
    color: steelblue;
}

p {
    color: aliceblue;
}

img {
    border: solid;
    border-color: #0000f0;
    background-color: deepskyblue;
}